*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: roboto, sans-serif;
    background-color: #FFFFFF;
    color: var(--brand-color1);
    letter-spacing: 0.02em;    
    margin: 0;
    
    }

:root {
    --brand-color1: #2E2F42;
    --brand-color2: #F4F4FD;
    --brand-color3: #4D5AE5;
    --brand-color4: #FFFFFF;
    --brand-color5: #434455;
    --brand-color6: #E7E9FC;
    --brand-color7: #404BBF;
    --brand-color8: #8E8F99;
    --tr-function: cubic-bezier(0.4, 0, 0.2, 1);
    --tr-duration: 250ms;    
    --transition: var(--tr-function) var(--tr-duration);
}

.container {
    
    max-width: 428px;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
    
}

@media screen and (min-width: 768px) {
    .container {        
        max-width: 768px;        
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;        
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.section {
    padding-top: 96px;
    padding-left: 0px;
    padding-bottom: 96px;
    padding-right: 0px;
}

@media screen and (min-width: 1200px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
}

.header-wrapper {
display: flex;
justify-content: space-between;
align-items: center;
}

.header-wrapper > nav {
    display: flex;
    gap: 76px;
}

.header {
    border-bottom: 1px solid var(--brand-color6);
    padding-top: 24px;
    padding-bottom: 22px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .header {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

@media screen and (min-width: 1200px) {
    .header {
        padding-bottom: 24px; 
    
    }
}

.third-section {
    padding-top: 0;    
}

@media screen and (max-width:1199px) {
    .third-section {
        display: none;
    }
}

.web-studio1 {
    font-family: raleway;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.1666;
    color: var(--brand-color1);        
}

.web {
    color: var(--brand-color3);
}

.navigation {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--brand-color1);
    max-width: 261px;
    gap: 40px;
    justify-content: space-between;
    position: relative;
    display: none;
}

@media screen and (min-width: 768px) { 
    .navigation {
        display: flex;
    }      
}

@media screen and (min-width: 768px) {
    .header-wrapper > .address {
        display: flex;        
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
        .header-wrapper > .address {
            flex-direction: column;
            gap: 12px;    
    }     
}

@media screen and (min-width: 1200px) {
    .header-wrapper>.address {
        gap: 40px;
    }
}

.h1-portfolio {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
    
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;

}

.link1 {
    color: var(--brand-color1);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    transition: var(--transition);
}

.link-active-index::after {
    position: absolute;
    display: block;
    content: "";
    height: 4px;
    width: 48px;
    top: 45px;
    border-radius: 2px;
    background-color: var(--brand-color7);
}

.link-active-portfolio::after {
    position: absolute;
    display: block;
    content: "";
    height: 4px;
    width: 66px;
    top: 45px;
    border-radius: 2px;
    background-color: var(--brand-color7);
}

.link1:hover,
.link1:focus {
    color: var(--brand-color7);
}

.address {
    font-size: 16px;
    line-height: 1.5;
    color: var(--brand-color5);
    max-width: 344px;
    display: none;
    justify-content: space-between;  
}

.link2 {
    color: var(--brand-color5);
    font-style: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    transition: var(--transition);
}

@media screen and (min-width: 1200px) {
    .link2 {
        font-size:16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

.link2:hover,
.link2:focus {
        color: var(--brand-color7);
}

.first-section {
    background-color: var(--brand-color1);
    margin-left: auto;
    margin-right: auto;
    max-width: 428px;
    max-height: 432px;
    background-image: linear-gradient(hsl(237 18% 22% / 0.7), hsl(237 18% 22% / 0.7)), url(../images/heroimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-block: 112px;
}

@media screen and (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .first-section {
        background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/heroimagex2.jpg);
        background-size: cover;
    }
}

@media screen and (min-width: 768px) {
    .first-section {
        max-width: 768px;
        min-height: 436px;
    }
    
}

@media screen and (min-width: 1200px) {
    .first-section {
        max-width: 1440px;
        min-height: 600px;
        padding-bottom: 188px;
        padding-top: 188px;
    }

}

.fs-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fourth-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;       
}

.first-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;   
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .first-list li {
        max-width: 356px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .first-list {
        row-gap: 72px;
        column-gap: 24px;
    }
    
}

@media screen and (min-width:1200px) {
    .first-list {
        flex-wrap: nowrap;
        gap: 24px;
    }
    
}

.head1 {
    font-weight: 700;
    font-size:36px;
    line-height: 1.1;
    text-align: center;
    color: var(--brand-color4);    
    max-width: 320px;
    margin-bottom: 72px;
            
}

@media screen and (min-width:768px) {
    .head1 {
        font-size: 56px;
        line-height: 1.0714;
        margin-bottom: 36px;
        max-width: 496px;
    }
    
}


.order-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--brand-color4);
    background-color: var(--brand-color3);
    box-shadow: 0px 4px 4px 0px #00000026;
    cursor: pointer;
    font-family: inherit;
    letter-spacing: 0.04em;
    display: flex;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    border: none;
    transition: var(--transition);
}

.order-button:hover,
.order-button:focus {
    background-color: var(--brand-color7);        
}

.head2 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    
}

@media screen and (min-width: 768px) {
    .head2 {
        text-align: left;
    }
    
}

@media screen and (min-width: 1200px) {
    .head2 {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}

.head2-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.paragraph1-portfolio {
    font-size: 16px;
    line-height: 1.5;
    color: var(--brand-color5);
}

.list-element {
    display: flex;
    flex-direction: column;
    gap: 8px;       
}



.icon-wrapper1 {
    max-width:264px;
    height:112px;
    background-color: var(--brand-color2);
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

@media screen and (min-width: 1200px) {
    .list-element > .icon-wrapper1 {
        display: flex;
    }
}

.icon-wrapper3 {
    display: flex;
    max-width: 168px;
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.icon-wrapper3:hover,
.icon-wrapper3:focus {
    border: 1px solid var(--brand-color7);   
}

.icon-wrapper4 {
    display: flex;
    justify-content: space-around;
    max-width: 208px;
    height: 40px;
    gap: 16px;
}

.customers-wrapper {
    display: flex;
    flex-wrap: wrap;       
    column-gap: 16px;
    row-gap: 72px;
    justify-content: center;
}

@media screen and (min-width:768px) {
    .customers-wrapper {
        column-gap: 24px; 
    }
}

@media screen and (min-width:1200px) {
    .customers-wrapper {
        flex-wrap: nowrap;
    }
}

.paragraph1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--brand-color5);       
    max-width: 396px;
    letter-spacing: 0.02em;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .paragraph1 {
        width: 356px;
    }
}

@media screen and (min-width: 1200px) {
    .paragraph1 {
        width: 264px;
        font-weight: 400;
    }
    
}
.head3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-bottom:72px;
}

.portfolio-container {
    
    padding: 31.5px 16px;
    border: 1px solid var(--brand-color6);
    border-top: none; 
  }

.portfolio-image-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-card-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-right:32px;
    color:var(--brand-color2);
    background-color: var(--brand-color3);
    padding-top:40px;
    padding-left: 32px;
    position: absolute;
    inset: 0;
    translate: 0 100% 0;
    transition: translate var(--transition);
}

.portfolio-image-wrapper:hover .portfolio-card-description {
    translate: 0;
}
.what-are-we-doing-list {
    color: var(--brand-color6);
    border: 1px;
    border-color: var(--brand-color6);
    display: flex;
    gap: 24px;
    
}

.our-team-list {
    display: flex;
    flex-wrap: wrap;   
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;          
    }

@media screen and (min-width: 768px) {
    .our-team-list {
        row-gap: 64px;
    }
    
}

@media screen and (min-width: 1200px) {
    .our-team-list {
        flex-wrap: nowrap;
    }
    
}
.otl-wrapper {
    background-color: white;
    border: 1px solid; 
    border-style: none;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px #2E2F4214,
                0px 1px 1px 0px #2E2F4229,    
                0px 1px 6px 0px #2E2F4214;
}

.card-content {
    display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 8px;
        padding: 32px 16px;
margin: 0 auto;
}

.ts-wrapper {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    height: 412px;
}


.fourth-section {
    background-color: var(--brand-color2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;       
}

.fifth-section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    align-items: center;

}

.head4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
}

.paragraph2 {
    font-size: 16px;
    line-height: 1.5;
    color: var(--brand-color5);
    text-align: center;
}

.web-studio2 {
    font-family: raleway;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.1666;
    letter-spacing: 0.03em ;
    color: var(--brand-color2);
    margin-bottom: 16px;
    display: block;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .web-studio2 {
        text-align: left;
    }
    
}

.paragraph3 {
    font-size: 16px;
    line-height: 1.5;
    color: var(--brand-color2);
    width: 268px;
}

@media screen and (min-width: 768px) {
    .paragraph3 {
        width: 264px;
    }
}

.paragraph4 {
    font-size:16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--brand-color4);
    text-align: center; 
}

@media screen and (min-width: 768px) {
    .paragraph4 {
        text-align: left;
    }
    
}

.footer {
    background-color: var(--brand-color1);
    padding-block: 96px;    
}

.fwrapper {
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;      
}

@media screen and (min-width: 1200px) {
    .fwrapper {
        justify-content: left;
        column-gap: 0px;
        flex-wrap: nowrap;
    }    
}

.footer-wrapper {
display: flex;
justify-content: space-between;
flex-direction: column;
max-width: 264px;
height: 112px;
}

.footer-social {
    display: flex;
    max-width: 208px;
    height: 80px;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 1200px) {
    .footer-social {
        margin-left: 120px;
    }
}

.main-menu {
    display: flex;
    gap: 24px;
    justify-content: center;
   
}

.portfolio-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: var(--brand-color3);
    border: 1px solid var(--brand-color6); 
    background-color: var(--brand-color2);    
    cursor: pointer;
    font-family: inherit;
    letter-spacing: 0.04em;
    padding: 12px 24px 12px 24px;
    border-radius: 4px;
    transition: var(--transition)
    
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--brand-color4);
    background-color: var(--brand-color7);
    box-shadow: 0px 2px 2px 0px #0000001F, 
                0px 2px 1px 0px #00000014,
                0px 3px 1px 0px #0000001A;
}

.portfolio-list > img {
    color: var(--brand-color6);
    color: var(--brand-color4);
    border: 1px solid;
    border-color: var(--brand-color6);
}

.portfolio-list > li {
    transition: var(--transition);
}

.portfolio-list > li:hover {
box-shadow: 0px 2px 1px 0px hsla(237, 18%, 22%, 0.08),
            0px 1px 1px 0px hsla(237, 18%, 22%, 0.16),
            0px 1px 6px 0px hsla(237, 18%, 22%, 0.08);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;    
    gap: 48px 24px;
}

.portfolio-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 72px;
    margin-top: -24px;
}

.customers-logo:hover,
.customers-logo:focus {
    fill: var(--brand-color7);
}

.customers-logo {
    fill: #8E8F99;
    cursor: pointer;
    transition: var(--transition);
}

.portfolio-img {
    padding: 0px;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.social-logo {
    fill: #4D5AE5;
    transition: var(--transition);
}

.social-logo:hover,
.social-logo:focus {
    fill: #404BBF;
}

.social-logo1 {
    fill:#4D5AE5;
    transition: var(--transition);
}

.social-logo1:hover,
.social-logo1:focus {
    fill:#31D0AA;
}

.otl-list-wrapper {
    display: flex;
    justify-content: space-around;
        max-width: 232px;
       
        gap: 24px;
    }

.modal {
       position: fixed;
       inset: 0;
       background-color: rgb(0 0 0 / 0.5);
       opacity: 1;
       pointer-events: all;
       visibility: visible;
       transition: opacity 250ms;    
   }

.modal-body {
       position: relative;
       max-width: 392px;
       min-height: 584px;
       margin: auto;
       top: 80px;                  
       background-color: #FCFCFC;
       border-radius: 4px;
       transition: scale 250ms;
    box-shadow: 0px 2px 1px 0px #00000033,    
                0px 1px 3px 0px #0000001F,    
                0px 1px 1px 0px #00000024;
   }

@media screen and (min-width: 768px) {
    .modal-body {
        max-width: 408px;
    }
    
}

.modal-close {
       position: absolute;
       inset: 24px 24px auto auto;
       width: 24px;
       height: 24px;
       padding-bottom: 2px;
       cursor: pointer;
       border: 1px solid #0000001A;
       border-radius: 50%;
       color: #2E2F42;
    background: linear-gradient(0deg, #E7E9FC, #E7E9FC),
            linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
        transition: var(--transition);
   }

.modal-close svg {
    fill: var(--brand-color1);
    transition: var(--transition);
}

.modal-close:focus svg,
.modal-close:hover svg {
    fill: white;
}

.modal-close:focus,
.modal-close:hover {    
    background: var(--brand-color7);
}

.is-hidden {
       opacity: 0;
       pointer-events: none;
       visibility: hidden;
       transform: translateX(-50%) translateY(-50%) scale(0) rotate(0deg) skew(40deg, 40deg);
   }

.is-hidden .modal-body {
       scale: 0;
   }

.modal:not(.is-hidden) .modal-body {
       scale: 1;
}

.subscribe-form {
    height: 80px;
    max-width: 453px;
    position: relative;
}

.footer-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: white;
    display: block;
    margin-bottom: 16px;
    text-align: center;
}

@media screen and (min-width:768px) {
    .footer-subscribe {
        text-align: left;
    }
}

.subscribe-wrapper {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .subscribe-wrapper {
        display: flex;
        gap: 24px;
        width: auto;
    }    
}

@media screen and (min-width: 1200px) {
    .subscribe-wrapper {
        margin-left: 80px;
    }
}

.input-email {
    width: 100%;
    height: 40px;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;
    background-color: var(--brand-color1);
    padding-block: 8px;
    padding-left: 16px;
    outline: none;
    color: white;
}

@media screen and (min-width:768px) {
    .input-email {
        width: 264px;
    }
    
}

.input-email::placeholder {
    color: white;
    font-size:12px;
    font-weight: 400;
    line-height:2;
    
}

.input-comment::placeholder {
    color: #2E2F4266;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.04em;      
}

.subscribe-button {
    cursor: pointer;
    width: 165px;
    height: 40px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    background-color: var(--brand-color3);
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top:16px;
    transition: var(--transition);
}

@media screen and (min-width:768px) {
    .subscribe-button {
        margin-top: 40px;
        margin-right: 40px;
    }
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: var(--brand-color7);
    
}

.subscribe-button > span {
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.input-wrapper {
    position: relative;
    margin-block: 4px;
}

.input-wrapper > svg {
    position: absolute;
    top: 50%;
    left: 16px;
    translate: 0 -50% 0;
    fill: var(--brand-color1);
    transition: var(--transition);
}

.input-wrapper:focus-within svg {
    fill: var(--brand-color3);
}

.input-wrapper:focus-within input{
    border-color: var(--brand-color3);
    outline: none;
}

.input-wrapper:focus-within textarea {
    border-color: var(--brand-color3);
    outline: none;
}

.input-wrapper > input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #2E2F4266;
    background-color: transparent;
    padding-inline-start: 38px;
    transition: var(--transition);
}

.input-wrapper > .input-comment {
    height: 120px;
}

.input-wrapper textarea {
width: 360px;
border-radius:4px;
border: 1px solid var(--brand-color8);
resize: none;
background-color: transparent;
padding-inline-start: 16px;
padding-block: 8px;
font-size: 12px;
font-weight: 400;
line-height: 1.1666;
letter-spacing: 0.04em;
transition: var(--transition);
}

.modal-body > form {
    padding: 0px 24px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;    
}

.modal-body > h3 {
    
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--brand-color1);
    letter-spacing: 0.02em;
    padding-top: 72px;
    padding-inline: 24px;
    margin: 0;
    text-align: center;
}

.tc-checkbox {
    opacity: 0;
}

.checkbox-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;   
    border-radius: 2px;    
    border: 1px solid var(--brand-color8);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: var(--transition);    
}

.check-icon {
    opacity: 0;
    position: inherit;
}

.tc-checkbox:checked + .checkbox-icon .check-icon {
    opacity: 1;
          
}

.tc-checkbox:checked + .checkbox-icon {
    background-color: var(--brand-color7);
}

.tc-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 360px;
    margin-top: 12px;
}

.tc-wrapper a {
    text-decoration: underline;
    transition: var(--transition);
}

.tc-wrapper span {
    margin-left: 1.25em;
    }

.modal-text-properties {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1666;
    letter-spacing: 0.04em;
    color: var(--brand-color8);
}

.send-button {
    padding: 16px 32px;
    width:169px;
    height:59px;
    border-radius: 4px;
    background-color: var(--brand-color3);
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size:16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: var(--transition);
    box-shadow: 0px 4px 4px 0px #00000026;
}

.send-button:focus,
.send-button:hover {
    background-color: var(--brand-color7);
}

.send-wrapper {
    display:flex;
    justify-content: center;
    margin-block: 24px;
}

.hamburger-icon {
    stroke: var(--brand-color1);
    stroke-width: 2px;   
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-left: 40px;
    background-color: var(--brand-color4);
    visibility: hidden;
    transform: translateX(100%);
    transition: var(--transition);
}

.menu-container.is-open {
    transform: translateY(0);
    visibility: visible;
}

.menu-toggle {
    background-color: transparent;
    border: none;
    top: 24px;
    right: 24px;
    color: #fff;    
    min-height: 24px;
    min-width: 24px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container .menu-toggle {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--brand-color6);
    position: absolute;
}

@media screen and (min-width: 768px) {
    .header-wrapper>.menu-toggle {
        display: none;
    }

}

.mobile-menu {
    padding: 0;
    margin-top: 80px;
    list-style: none;
}

.mobile-menu .link {
    display: block;    
    font-size: 36px;
    font-weight: 700;
    line-height: 1.111;
    letter-spacing: 0.72px;
    color: var(--brand-color1);
    margin-bottom: 40px;
}

.mobile-menu .mobile-active {
    color: var(--brand-color7);
}

.mobile-menu-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.mobile-tel {
    display: block;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.111;
    letter-spacing: 0.72px;
    color: var(--brand-color3);
    margin-bottom: 40px;
}

.mobile-mail {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--brand-color5);
}

.mobile-social-icons {
    display: flex;
    max-width: 328px;
    margin-top: 48px;
    margin-bottom: 40px;
    justify-content: space-between;
}

.social-icon-mobile {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: var(--brand-color3);
    transition: background-color var(--transition);
}